.nav_menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #2F0F5D;
    padding: 30px 0;
    font-size: 25px;
}
.nav_menu a{
    color: white;
    text-decoration: none;
}